
app-data-table header,
app-data-table .row.header,
.table header,
.table .row.header {
	width: fit-content;
}

.col-staff {
	ion-avatar {
		height: calc(10 / 16 * 2.5rem);
		width: calc(10 / 16 * 2.5rem);
		min-width: calc(10 / 16 * 2.5rem);
		margin-left: 0px;
		margin-right: -5px;
	}
}
@media screen and (max-width: calc(1610px)) {
	.table {
		background-color: transparent;
		min-width: unset !important;
	}
	section > header {
		display: none;
	}

	.filter {
		flex-wrap: wrap;
		height: fit-content;
		max-width: 100%;
		padding: 16px;

		.cell {
			height: fit-content;
			min-width: 25%;
			max-width: 100%;

			justify-content: left !important;

			@media screen and (max-width: calc(1024px)) {
				min-width: 33.3% !important;
			}
			@media screen and (max-width: calc(768px)) {
				min-width: 33.3% !important;
			}
			@media screen and (max-width: calc(425px)) {
				min-width: 50% !important;
			}
			@media screen and (max-width: calc(320px)) {
				min-width: 100% !important;
			}

			input,
			select {
				text-align: left;
				max-width: 100%;
				height: calc(10 / 16 * 2.5rem);
			}
		}
	}

	.row {
		flex-wrap: wrap;
		// padding: 10px 130px 10px 35px !important;
		padding: 16px 100px 16px 35px !important;
		margin: 16px;
		border-radius: 10px;
		background-color: var(--table-row-background);

		&:hover {
			background-color: var(--table-row-background);
		}
		&.selected {
			background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.15) !important;
		}

		.cell {
			padding: 1px 7px 1px 0 !important;
		}
		.col-checkbox {
			order: 0;
			margin-left: -35px;
			padding: 0 !important;
		}

		.col-id {
			order: 1;
			padding: 1px 7px !important;
			border-radius: 3px;
			background-color: var(--ion-color-primary);
			color: var(--ion-color-primary-contrast) !important;
			min-width: fit-content !important;
			max-width: fit-content !important;
			margin-bottom: 5px;
			margin-right: 5px;
		}

		.col-date {
			order: 1;
			border-left: solid 3px rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.2);
			background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.1);
			border-radius: 2px;
			font-size: 70%;
			margin-bottom: 5px;
			margin-right: 5px;
			max-width: fit-content !important;
			min-width: fit-content !important;
		}

		.col-staff {
			order: 4;
		}


		hr {
			order: 3;
			display: flex;
			flex: 1;
			min-width: 100%;
			height: 0;
			margin: 0;
		}

		.col-name {
			min-width: 100% !important;
			font-weight: bold;
			order: 3;
			color: var(--ion-color-medium) !important;
			padding: 5px 0 !important;
		}



		.col-status {
			order: 4;
			position: absolute;
			right: 8px;
			min-width: fit-content;
			margin-top: -5px;

			.bar-holder {
				justify-content: flex-end;

				.bar-title {
					text-align: right;
				}
			}
		}

		.follower {
			display: none;
		}
	}

	
	.col-staff{
		max-width: fit-content;
	}

	.col-approver{
		position: absolute;
		right: 13px;
		justify-content: right;
		top: 48px;

		ion-avatar {
			height: calc(10 / 16 * 3.5rem);
			width: calc(10 / 16 * 3.5rem);
			min-width: calc(10 / 16 * 3.5rem);
			margin-right: -7px;
		}
	}
}
