<ion-header>
	<app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>
<!-- *ngIf="item && pageConfig.showSpinner==false" -->
<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Approval-rule' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						
						<app-form-control [field]="{id:'Code', label: 'Code', type : 'text', form : formGroup }"
							(change)="saveChange()">
							<small label *ngIf="item?.Id">Id: {{item.Id}}</small>
						</app-form-control>
						<app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }"(change)="saveChange()">
						</app-form-control>

					</ion-col>

					<ion-col size="12" size-sm size-xl="4">
						<!-- <app-form-control [field]="{id:'IDSchema', label: 'IDSchema', type : 'ng-select-schema', dataSource:_IDSchemaDataSource, bindLabel:'Name',bindValue:'Id' , form : formGroup }"(inputChange)="changeSchema($event)"> </app-form-control> -->
						<app-form-control [field]="{id:'SetStatus', label: 'Auto approval status', type : 'ng-select',dataSource: statusList,bindLabel:'Name',bindValue:'Code',placeholder:'search-placeholder', form : formGroup }"(inputChange)="saveChange()">
						</app-form-control>
						<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }"(change)="saveChange()"></app-form-control>

					</ion-col>
				</ion-row>
			</form>
		</ion-grid>
		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button [value]="'s1'">
						<ion-label>{{'Conditions for automatic approval' | translate }}</ion-label>
					</ion-segment-button>
					<ng-container *ngFor="let c of formGroup.get('RuleApprovers')['controls'];let j=index">
						<ion-segment-button [value]="'s'+j+2">
							<ion-label *ngIf="c.get('Name')?.value">{{c.get('Name').value}}</ion-label>
							<ion-label *ngIf="!c.get('Name')?.value">{{'Rule approvers' | translate }} {{j+1}}</ion-label>
						</ion-segment-button>
					</ng-container>
				
					<!-- <ion-segment-button value="s2">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button> -->
				</ion-segment>
				<ion-buttons slot="end">
                    <ion-button (click)="addRuleApprovers({})">
                        <ion-icon slot="start" name="add"></ion-icon>
                        {{'Add' | translate}}
                    </ion-button>
                </ion-buttons>
			</ion-toolbar>
			<div *ngIf="segmentView == 's1'">
				<app-filter  *ngIf="formGroup.get('IDApprovalTemplate').value> 0 &&  schema" [item]="formGroup.get('_Config').value" (inputChange)="saveConfig($event,formGroup)"  (submit)='saveConfig($event,formGroup)' [schema]="schema"></app-filter>
				<!-- <ion-button color="primary" (click)="submutFilter()" expand="block">{{'Save' | translate}}</ion-button> -->
			</div>
			<div *ngFor="let c of formGroup.get('RuleApprovers')['controls'];let j = index">
				<div *ngIf="segmentView == 's'+j+2">
						<ion-list-header lines="full">
							<ion-label>{{'Rule approvers' | translate }}</ion-label>
							<div>
							<ion-button color="danger" (click)="removeRuleApprovers(c,j)" fill="clear" slot="end">
									<ion-icon slot="icon-only" name="trash"></ion-icon>
							</ion-button>
							</div>
						</ion-list-header>
						<ion-row class="hr-group ion-justify-content-center">
							<ion-col size="12" size-sm size-xl="6">
								<app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form : c }"(change)="saveChange()">
									<small label *ngIf="c.controls.Id?.value">Id: {{c.controls.Id.value}}</small>
								</app-form-control>
								<!-- <app-form-control [field]="{id:'IDSchema', label: 'IDSchema', type : 'ng-select-schema', dataSource:_IDSchemaDataSource, bindLabel:'Name',bindValue:'Id' , form : formGroup }"(inputChange)="changeSchema($event)"> </app-form-control> -->
								<app-form-control [field]="{id:'ApprovalMode',label:'ApprovalMode', type : 'ng-select',dataSource: ApprovalModes, bindLabel:'Name',bindValue:'Code', form : c }" (inputChange)="saveChange()"></app-form-control>
								<app-form-control [field]="{id:'_approvalListIds', type : 'ng-select-staff', label: 'ApproverList',dataSource: c.controls._approverListDataSource.value , bindLabel:'FullName',bindValue:'Id', multiple: true, clearable: true, form : c }"
								(inputChange)="changeApprovedBy($event,c)"></app-form-control>
								
							</ion-col>
						
						</ion-row>
					<app-filter *ngIf="schema" [schema]="schema" [item]="c.controls._Config.value" (inputChange)="saveConfig($event,c)" (submit)="saveConfig($event,c)"></app-filter>
					
				</div>
			</div>
		</div>

	</div>

	<!-- <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message> -->
</ion-content>