<ion-header>
	<app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row>
					<ion-col size="12" class="ion-padding-vertical">
						<app-page-title  
						[icon]="pageConfig.pageIcon"
						[title]="formGroup.get('Name').value" [remark]="formGroup.get('Remark').value">
						</app-page-title>
					
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>
		
		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Approval group' | translate }}</ion-label>
					</ion-segment-button>

					<ion-segment-button value="s2">
						<ion-label>{{'Form & mapping' | translate }}</ion-label>
					</ion-segment-button>

					<ion-segment-button value="s3">
						<ion-label>{{'Approval rule' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
				<ion-buttons slot="end" *ngIf="segmentView=='s2' && formGroup.get('Id').value">
                    <ion-button (click)="forwardToApprovalRule()">
                        <ion-icon slot="start" name="add"></ion-icon>
                        {{'Add' | translate}}
                    </ion-button>
                </ion-buttons>
			</ion-toolbar>
			<div class="ion-padding" *ngIf="segmentView == 's1'">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						<!-- Header information -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'General information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }" (change)="saveChange()">
									<small label *ngIf="formGroup.controls.Id?.value">Id: {{formGroup.controls.Id.value}}</small>
								</app-form-control>
								<app-form-control [field]="{id:'Type', label: 'Type', type : 'ng-select', dataSource:requestTypeList ,bindValue:'Code', bindLabel:'Name', form : formGroup }" (inputChange)="saveChange()"></app-form-control>
								<app-form-control [field]="{id:'SubType', label: 'SubType', type : 'ng-select',dataSource:timeOffTypeList , bindValue:'Code', bindLabel:'Name', form : formGroup }" (change)="saveChange()"></app-form-control>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"></app-form-control>
								<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
							</ion-col>
						</ion-row>

						<!-- Approvers -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Approvers' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<!-- TODO: Thời hạn duyệt -->
								<app-form-control [field]="{ id: 'IsSentToDirectManager', label: 'Gửi quản lý trực tiếp', type: 'checkbox', form:formGroup }" (change)="saveChange()"></app-form-control>
								<app-form-control [field]="{ id: 'IsUserCanChooseApprover', label: 'Người gửi có thể chọn người duyệt', type: 'checkbox', form:formGroup }" (change)="saveChange()"></app-form-control>
								<!-- TODO: Những người duyệt có thể chọn -->
								<!-- TODO: Người duyệt cố định -->
								<!-- TODO: Quyền duyệt tối cao -->

								
								
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								
							</ion-col>
						</ion-row>

						<!-- Followers -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Followers' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<!-- TODO: Người theo dõi -->
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								
							</ion-col>
						</ion-row>

						<!-- Notification -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Notifications' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<!-- TODO: Gửi thông báo qua email -->
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								
							</ion-col>
						</ion-row>

						<!-- Other information -->
						<ion-row class="hr-group" *ngIf="item?.Id">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Other information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
								<app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
								
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
								<app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
							</ion-col>
						</ion-row>

					


					</form>
				</ion-grid>
			</div>

			<div class="ion-padding" *ngIf="segmentView == 's2'">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						
				
						<!-- integer Group -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Integer UDF' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{ id: 'IsUseUDF01', label: 'Use label ID', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF01')?.value" [field]="{ id: 'UDFLabel01', label: 'Label01', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF02', label: 'Use Label02', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF02')?.value" [field]="{ id: 'UDFLabel02', label: 'Label02', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF03', label: 'Use Label03', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF03')?.value" [field]="{ id: 'UDFLabel03', label: 'Label03', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

							</ion-col>

							<ion-col size="12" size-sm size-xl="4">
							
								<app-form-control [field]="{ id: 'IsUseUDF04', label: 'Use Label04', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF04')?.value" [field]="{ id: 'UDFLabel04', label: 'Label04', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF05', label: 'Use Label05', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF05')?.value" [field]="{ id: 'UDFLabel05', label: 'Label05', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

							</ion-col>
						</ion-row>
						<!-- DateTime Group -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Datetime UDF' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{ id: 'IsUseUDF06', label: 'Use Label06', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF06')?.value" [field]="{ id: 'UDFLabel06', label: 'Label06', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF07', label: 'Use Label07', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF07')?.value" [field]="{ id: 'UDFLabel07', label: 'Label07', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>
										
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">

								<app-form-control [field]="{ id: 'IsUseUDF08', label: 'Use Label08', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF08')?.value" [field]="{ id: 'UDFLabel08', label: 'Label08', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>
							</ion-col>
						</ion-row>
						<!-- String Group -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'String UDF' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{ id: 'IsUseUDF09', label: 'Use Label09', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF09')?.value" [field]="{ id: 'UDFLabel09', label: 'Label09', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF10', label: 'Use Label10', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF10')?.value" [field]="{ id: 'UDFLabel10', label: 'Label10', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF11', label: 'Use Label11', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF11')?.value" [field]="{ id: 'UDFLabel11', label: 'Label11', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF12', label: 'Use Label12', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF12')?.value" [field]="{ id: 'UDFLabel12', label: 'Label12', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{ id: 'IsUseUDF13', label: 'Use Label13', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF13')?.value" [field]="{ id: 'UDFLabel13', label: 'Label13', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF14', label: 'Use Label14', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF14')?.value" [field]="{ id: 'UDFLabel14', label: 'Label14', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF15', label: 'Use Label15', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF15')?.value" [field]="{ id: 'UDFLabel15', label: 'Label15', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF16', label: 'Use Label16', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF16')?.value" [field]="{ id: 'UDFLabel16', label: 'Label16', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>
							</ion-col>
						</ion-row>
						<!-- Decimal Group -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Decimal UDF' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{ id: 'IsUseUDF17', label: 'Use Label17', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF17')?.value" [field]="{ id: 'UDFLabel17', label: 'Label17', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF18', label: 'Use Label18', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF18')?.value" [field]="{ id: 'UDFLabel18', label: 'Label18', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF19', label: 'Use Label19', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF19')?.value" [field]="{ id: 'UDFLabel19', label: 'Label19', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

							</ion-col>
							<ion-col size="12" size-sm size-xl="4">

								<app-form-control [field]="{ id: 'IsUseUDF20', label: 'Use Label20', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF20')?.value" [field]="{ id: 'UDFLabel20', label: 'Label20', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>
								
								<app-form-control [field]="{ id: 'IsUseUDF21', label: 'Use Label21', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF21')?.value" [field]="{ id: 'UDFLabel21', label: 'Label21', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>

								<app-form-control [field]="{ id: 'IsUseUDF22', label: 'Use Label22', type: 'checkbox', form:formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control *ngIf="formGroup.get('IsUseUDF22')?.value" [field]="{ id: 'UDFLabel22', label: 'Label22', type: 'text', form: formGroup }" (change)="saveChange()">
								</app-form-control>
							</ion-col>
						</ion-row>
						<!-- mapping -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Mapping' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="6">
								<app-form-control [field]="{id:'IDSchemaMapping', label: 'IDSchemaMapping', type : 'ng-select',dataSource: schemaList, bindValue:'Id', bindLabel:'Name', form : formGroup }" (inputChange)="changeSchema()"></app-form-control>
		
								<ng-container *ngFor="let c of countUDF;let j=index">
									<div class="c-control" *ngIf="formGroup.get('IsUseUDF'+c)?.value" >
										<label class="c-label" for="InvoiceForm">{{formGroup.get('UDFLabel'+c)?.value || 'Mapping '+c}}
											<span *ngIf="!formGroup.get('UDFMapping' +c).valid && !formGroup.get('UDFMapping' +c).pending && (formGroup.get('UDFMapping' +c).dirty || submitAttempt)" ion-text color="danger">(*)</span>
										</label>
										<app-input-control [field]="{id:'UDFMapping' +c, label:'UDFMapping'+c , type : 'ng-select', dataSource: _schemaListMappingDetail, bindValue:'Code', bindLabel:'Name', form : formGroup }" (inputChange)="saveChange()"></app-input-control>
									</div>
									<!-- <app-form-control *ngIf="formGroup.get('IsUseUDF'+c)?.value && formGroup.get('IDSchemaMapping').value >0" [field]="{id:'UDFMapping' +c, label:'UDFMapping'+c , type : 'ng-select', dataSource: _schemaListMappingDetail, bindValue:'Code', bindLabel:'Name', form : formGroup }" (inputChange)="saveChange()"></app-form-control> -->
								</ng-container>
		
							</ion-col>
						</ion-row>

						
		
					</form>
				</ion-grid>
			</div>
			<div class="ion-padidng table-contain" *ngIf="segmentView == 's3'" style="max-width: 1250px;">
				

						
				<section class="table" style="min-width: 1100px;">
					<header class="bold">
						<!-- <div class="col-checkbox cell"></div> -->
						<div class="col-id cell">
							{{'Id' | translate}}
						</div>
						<div class="col-name cell">
							{{'Name' | translate}}
						</div>
						<a class="col-icon cell clickable" *ngIf="pageConfig.canEdit" (click)="forwardToApprovalRule()">
							<ion-icon color="success" class="min-btn" name="add-outline"></ion-icon>
						</a>
					</header>
		
					<div *ngFor="let i of approvalRuleList ; let j = index;" class="row" [ngClass]="{odd: j % 2 != 0}">
						<div (click)="nav('approval-rule'+'/'+i.Id,'forward')" class="col-id cell">
							{{i.Id}}
						</div>
						<div (click)="nav('approval-rule'+'/'+i.Id,'forward')" class="col-name cell">
							{{i.Name}} <span *ngIf="i.Remark"> - {{i.Remark}}</span>
						</div>
						<a class="col-icon cell clickable" *ngIf="pageConfig.canEdit" (click)="removeApprovalRule(j)">
							<ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
						</a>

				
					</div>
		
					<!-- <app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message> -->
		
				</section>

				<div class="ion-padding"></div>
		
			</div>
			
		</div>
	</div>

	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>