<ion-header>
	<app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>
<!-- *ngIf="item && pageConfig.showSpinner==false" -->
<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Template' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control [field]="{id:'Id', label: 'Id', type : 'text', form : formGroup }" (change)="saveChange()">	</app-form-control>
					
						<app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }" (change)="saveChange()"></app-form-control>
						<app-form-control [field]="{id:'Type', label: 'Type', type : 'text', form : formGroup }" (change)="saveChange()"></app-form-control>
						<app-form-control [field]="{id:'SubType', label: 'SubType', type : 'text', form : formGroup }" (change)="saveChange()"></app-form-control>
					</ion-col>

					<ion-col size="12" size-sm size-xl="4">
						<app-form-control [field]="{id:'Sort', label: 'Sort', type : 'text', form : formGroup }" (change)="saveChange()"></app-form-control>
						<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>
		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'UDF' | translate }}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
				<!-- <ion-buttons slot="end" *ngIf="segmentView=='s1'">
                    <ion-button (click)="addField({},true)">
                        <ion-icon slot="start" name="add"></ion-icon>
                        {{'Add' | translate}}
                    </ion-button>
                </ion-buttons> -->
			</ion-toolbar>

			<div *ngIf="segmentView == 's1'">
				<ion-list>
					<ion-list-header lines="full">
						<ion-label>{{'UDF' | translate }}</ion-label>
						<ion-button (click)="toggleReorder()" fill="outline">{{'Sort' | translate }}</ion-button>
					</ion-list-header>
					<ion-row class="hr-group" *ngFor="let i of countUDF.length">
							
						
					</ion-row>
				</ion-list>
			</div>s

			<!-- Order information -->
			<div *ngIf="segmentView == 's2'">
				<ion-grid fixed>
			
				</ion-grid>
			</div>
		</div>
	</div>
	<!-- <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message> -->
</ion-content>