<ion-header collapse="fade">
	<ion-toolbar class="no-padding">
		<ion-buttons slot="start">
			<ion-button color="dark" class="ion-hide-sm-down"> {{'Approve' | translate}} </ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<form [formGroup]="formGroup">
		<ion-grid fixed>
			<ion-row>
				<ion-col size="12" size-sm="12" size-md="12">
					<div class="c-control" *ngIf=" item.Status == 'Forward'">
						<label class="c-label" for="ForwardTo"
							>{{'Forward' | translate}}
							<span
								*ngIf="!formGroup.controls.ForwardTo.valid && !formGroup.controls.ForwardTo.pending && (formGroup.controls.ForwardTo.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>

						<ng-select
							[items]="staffList$ | async"
							formControlName="ForwardTo"
							[typeahead]="staffListInput$"
							[loading]="staffListLoading"
							[virtualScroll]="true"
							class="c-input"
							labelForId="ForwardTo"
							bindLabel="FullName"
							bindValue="Id"
						>
							<ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
								<ion-chip *ngFor="let i of items">
									<ion-avatar><ion-img #img [src]="imgPath + i.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img></ion-avatar>
									<ion-label>{{i.FullName}}</ion-label>
									<ion-icon (click)="clear(i)" name="close-circle"></ion-icon>
								</ion-chip>
							</ng-template>
							<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<ion-avatar><ion-img #img [src]="imgPath + i.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img></ion-avatar>
									<span [ngOptionHighlight]="search">{{i.FullName}}</span><br />
									<small
										>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b>
										<span *ngIf="i.Phone">
											| {{'Telephone' | translate}}:
											<b [ngOptionHighlight]="search">{{i.Phone}}</b></span
										></small
									>
								</div>
							</ng-template>
						</ng-select>
					</div>

					<div class="c-control">
						<label class="c-label" for="Remark"
							>{{'Content' | translate}}
							<span
								*ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>
						<textarea rows="3" class="c-input remark" id="Remark" formControlName="Remark" type="textarea"></textarea>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start"></div>

		<div slot="end">
			<ion-button fill="outline" color="warning" (click)="closeModal()"> {{'Cancel' | translate}} </ion-button>

			<ion-button [strong]="true" *ngIf="item.Status == 'Approved'" (click)="submitForm()"> {{'Approve' | translate}} </ion-button>
			<ion-button [strong]="true" *ngIf="item.Status == 'Forward'" (click)="submitForm()"> {{'Forward' | translate}} </ion-button>
			<ion-button [strong]="true" *ngIf="item.Status == 'Denied'" (click)="submitForm()"> {{'Deny' | translate}} </ion-button>
			<ion-button [strong]="true" *ngIf="item.Status == 'Return'" (click)="submitForm()"> {{'Return' | translate}} </ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
