<ion-header>
    <app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
    <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">

        <ion-grid *ngIf="item && pageConfig.showSpinner==false">
            <ion-row>
                <ion-col size="12" size-md="12" size-lg="12" size-xl="8">
                    <ion-list-header>
                        <ion-label color="primary">{{'erp.app.pages.approval.request.request-information' | translate}}</ion-label>
                    </ion-list-header>
                    <ion-list>
                        <ion-item>
                            <ion-label>
                                <p>{{'erp.app.pages.approval.request.type' | translate}}</p>
                                <h2>{{item._Type.Name}}</h2>
                            </ion-label>
                        </ion-item>

                        <ion-item *ngIf="item.Type == 'TimeOff'">
                            <ion-label>
                                <p>{{'erp.app.pages.approval.request.sub-type' | translate}}</p>
                                <h2>{{item._SubType.Name}}</h2>
                            </ion-label>
                        </ion-item>


                        <ion-item>
                            <ion-label>
                                <p>{{'erp.app.pages.approval.request.time' | translate}}</p>
                                <h2>{{item.StartText}}-{{item.EndText}}</h2>
                            </ion-label>
                        </ion-item>



                        <ion-item>
                            <ion-label>
                                <p>{{'erp.app.pages.approval.request.name' | translate}}</p>
                                <h2>{{item.Name}}</h2>
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label>
                                <p *ngIf="item.Type == 'Payment'">erp.app.pages.approval.request.amount</p>
                                <p *ngIf="item.Type == 'TimeOff' || item.Type =='OverTime' ">{{'erp.app.pages.approval.request.time-off' | translate}}</p>
                                <h2 class="bold">{{item.AmountText}}</h2>
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label>
                                <p>{{'erp.app.pages.approval.request.remark' | translate}}</p>
                                <h2><span class="remark">{{item.Remark}}</span></h2>
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label>
                                <p>{{'erp.app.pages.approval.request.status' | translate}}</p>
                                <h2>
                                    <ion-text [color]="item._Status.Color"><b> {{item._Status.Name}}</b></ion-text>
                                </h2>
                            </ion-label>
                        </ion-item>

                    </ion-list>

                    
                    <ion-list *ngIf="pageConfig.canApprove">
                        <ion-list-header>
                            <ion-label color="primary">{{'erp.app.pages.approval.request.approve-title' | translate}}</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <ion-grid fixed>
                                <ion-row>
                                    <ion-col size="4">
                                        <ion-button color="success" expand="block" (click)="submitApproval('Approved')">
                                            {{'erp.app.pages.approval.request.approve' | translate}}
                                        </ion-button>

                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-button color="warning" expand="block" (click)="submitApproval('Forward')">
                                            {{'erp.app.pages.approval.request.forward' | translate}}
                                        </ion-button>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-button color="danger" expand="block" (click)="submitApproval('Denied')">
                                            {{'erp.app.pages.approval.request.denied' | translate}}
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
                    </ion-list>
                    <ion-list *ngIf="item?.Id">
                        <ion-list-header>
                            <ion-label color="primary">{{'erp.app.pages.approval.request.comment' | translate}}</ion-label>
                        </ion-list-header>
                        <ion-item lines="none">
                            <ion-avatar slot="start">
                                <ion-img #img [src]="env.user.Avatar" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
                            </ion-avatar>
                            <ion-label>
                                <h2>{{env.user.FullName}}</h2>
                            </ion-label>
                        </ion-item>
                        <form [formGroup]="commentForm">
                        <ion-item lines="none">
                            <div class="c-control">
                                <ion-button (click)="addComment()" fill="clear" class="send">
                                    <ion-icon slot="icon-only" name="paper-plane" ></ion-icon>
                                </ion-button>
                                <textarea (keydown.enter)="addComment()" placeholder="{{'erp.app.pages.approval.request.comment-placeholder' | translate}}" rows="1" class="c-input remark" id="Remark" formControlName="Remark" type="textarea"></textarea>
                            </div>
                            
                        </ion-item>

                        <ion-item lines="none" *ngFor="let i of commentList" class="log">
                            <ion-avatar slot="start">
                                <ion-img #img [src]="imgPath + i._Staff.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
                            </ion-avatar>
                            <ion-label>
                                <h3>{{i._Staff.FullName}}</h3>
                                <p><i>{{i.Date}}</i></p>
                                <h4 class="remark">{{i.Remark}}</h4>
                            </ion-label>
                        </ion-item>

                    </form>
                    </ion-list>
                </ion-col>
                <ion-col size="12" size-md="12" size-lg="12" size-xl="4">
                    <div class="row-full shadow full-screen">
                        <ion-list-header>
                            <ion-label color="primary">{{'erp.app.pages.approval.request.requested-by' | translate}}</ion-label>
                        </ion-list-header>
                        <ion-list>
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-img #img [src]="imgPath + item._Staff.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
                                </ion-avatar>
                                <ion-label>
                                    <h2>{{item._Staff.FullName}}</h2>
                                </ion-label>
                            </ion-item>
                        </ion-list>

                        <ion-list-header>
                            <ion-label color="primary">{{'erp.app.pages.approval.request.approvers' | translate}}</ion-label>
                        </ion-list-header>
                        <ion-list>
                            <ion-item *ngFor="let i of item._Approvers">
                                <ion-avatar slot="start">
                                    <ion-img #img [src]="imgPath + i.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
                                </ion-avatar>
                                <ion-label>
                                    <h2>{{i.FullName}}</h2>
                                    <h3>
                                        <ion-text [color]="i._Status?.Color || 'danger'">{{i._Status?.Name||'Chưa duyệt'}}</ion-text>
                                    </h3>
                                </ion-label>
                                <ion-icon *ngIf="i._Status" slot="end" [color]="i._Status.Color" [name]="i.Status == 'Denied'? 'ban-outline':'checkmark-circle-outline'"></ion-icon>
                            </ion-item>
                        </ion-list>

                        <ion-list *ngIf="item._Logs.length">
                            <ion-list-header>
                                <ion-label color="primary">{{'erp.app.pages.approval.request.timeline' | translate}}</ion-label>
                            </ion-list-header>
                            <ion-item *ngFor="let i of item._Logs" class="log" lines="none">
                                <ion-label slot="start" class="time">
                                    <p>{{i.Date}}</p>
                                    <h2>{{i.Time}}</h2>
                                </ion-label>
                                <ion-icon class="icon" slot="start" [color]="i._Status?.Color" [name]="i.Status == 'Denied'? 'ban-outline':'checkmark-circle-outline'"></ion-icon>
                                <!-- <ion-avatar slot="start">
                                    <ion-img #img [src]="imgPath + i.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
                                </ion-avatar> -->
                                <ion-label>
                                    <h2>{{i.FullName}}</h2>
                                    <h3>
                                        <ion-text [color]="i._Status?.Color || 'danger'">{{i._Status?.Name||'Chưa duyệt'}}</ion-text>
                                    </h3>
                                    <p class="remark" *ngIf="i.Remark">
                                        {{i.Remark}}
                                    </p>
                                </ion-label>

                            </ion-item>
                        </ion-list>

                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>