<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature" vertical="top" horizontal="end" slot="fixed">
		<div class="ion-padding">
			<ng-container *ngIf="item?.Type == 'DataCorrection'">
				<ion-item lines="none" class="ion-no-padding">
					<ion-toggle justify="space-between" class="c-checkbox" [(ngModel)]="jsonViewerConfig.isCompare">
						{{'Show compare' | translate}}</ion-toggle>
				</ion-item>
				<ion-item lines="none" class="ion-no-padding">
					<ion-toggle justify="space-between" class="c-checkbox"
						[(ngModel)]="jsonViewerConfig.isShowDifference">{{'Show difference' | translate}}</ion-toggle>
				</ion-item>
				<ion-row>
					<ion-col>
						<div class="c-control" *ngIf="jsonViewerConfig.showProperties?.length >0">
							<label class="c-label">{{ 'Show properties' | translate }}</label>
							<span class="c-input" style="flex-wrap: wrap; height: auto">
								<ion-chip *ngFor="let property of jsonViewerConfig.showProperties;let j = index"
									color="primary" style="height: auto; margin: 2px">
									<ion-label>{{property | translate}}</ion-label>
									<ion-icon name="close" (click)="addNotShowProperty(j)"></ion-icon>
								</ion-chip>
							</span>
						</div>
						<div class="c-control" *ngIf="jsonViewerConfig.notShowProperties?.length >0">
							<label class="c-label">{{ 'Not show properties' | translate }}</label>
							<span class="c-input" style="flex-wrap: wrap; height: auto">
								<ion-chip *ngFor="let property of jsonViewerConfig.notShowProperties;let j = index"
									color="danger" style="height: auto; margin: 2px">
									<ion-label>{{property | translate}}</ion-label>
									<ion-icon name="close" (click)="addShowProperty(j)"></ion-icon>
								</ion-chip>
							</span>
						</div>
					</ion-col>
				</ion-row>
			</ng-container>
		</div>
	</ion-fab>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<div id="ng-select-table" style="position: absolute; z-index: 30005"></div>

		<ion-grid *ngIf="item && pageConfig.showSpinner==false">
			<ion-row>
				<ion-col size="12" size-xl="9">
					<ion-row *ngIf="item.Type=='SaleOrder'">
						<ion-col size="12" class="A4">
							<div style="overflow: auto" *ngIf="item">
								<div class="giao-nhan">
									<section class="sheet padding-10mm rpt p1">
										<app-so-note [ID]="item.UDF01"
											[SOIsRemoveItemsWithZeroPriceOnOrderNote]="true"></app-so-note>
									</section>
								</div>
							</div>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="item.Type=='PurchaseOrder'">
						<ion-col size="12" class="A4">
							<div style="overflow: auto" *ngIf="item && purchaseOrderFormGroup">
								<div class="giao-nhan">
									<!-- PGNTT -->
									<section class="sheet padding-10mm rpt p1">
										<app-po-note [ID]="item.UDF01" [PONConvertToLargerUoM]="true"
											[PONShowPackingUoM]="true" [PONShowEACaseOnly]="false"></app-po-note>
									</section>
								</div>
							</div>
						</ion-col>
					</ion-row>



					<ion-list>
						<ion-item *ngIf="item?._Type">
							<ion-label>
								<p>{{'Type' | translate}}</p>
								<h2>
									<ion-text [color]="item?._Type?.Color"><b> {{item?._Type?.Name |
											translate}}</b></ion-text>
								</h2>
							</ion-label>
						</ion-item>
						<ion-item *ngIf="item?._SubType">
							<ion-label>
								<p>{{'Leaves classification' | translate}}</p>
								<h3>
									<ion-text [color]="item?._SubType?.Color"><b> {{item?._SubType?.Name |
											translate}}</b></ion-text>
								</h3>
							</ion-label>
						</ion-item>

						<ion-item *ngIf="item?.Name">
							<ion-label>
								<p>{{'Title' | translate}}</p>
								<h3>
									<ion-text><b> {{item?.Name}}</b></ion-text>
								</h3>
							</ion-label>
						</ion-item>

						<ng-container *ngIf="item?.Type == 'TimeOff'">
							<ng-container *ngIf="item.Staff">
								<ion-item>
									<ion-label>
										<p>{{'Leave day allocated' | translate}}</p>
										<h2>{{item.Staff.LeaveDaysAllocated }}</h2>
									</ion-label>
								</ion-item>
								<ion-item>
									<ion-label>
										<p>{{'Leave day used' | translate}}</p>
										<h2>{{item.Staff.LeaveDaysUsed}}</h2>
									</ion-label>
								</ion-item>
								<ion-item>
									<ion-label>
										<p>{{'Leave day remaining' | translate}}</p>
										<h2>{{item.Staff.LeaveDaysRemaining}}</h2>
									</ion-label>
								</ion-item>
								<ion-item>
									<ion-label>
										<p>{{'Leave day scheduled' | translate}}</p>
										<h2>{{item.Staff.LeaveDaysScheduled }}</h2>
									</ion-label>
								</ion-item>
							</ng-container>
						</ng-container>
						<ng-container *ngIf="item?.Type != 'DataCorrection'">
							<ion-item *ngFor="let udf of mappingList">
								<ion-label>
									<p>{{udf.Label | translate}}</p>
									<h2>{{udf.Value}}</h2>
								</ion-label>
							</ion-item>
						</ng-container>
						<ion-item *ngIf="item.UDF16 && item?.Type == 'DataCorrection' && isLoadedOldItem">
							<ion-label>
								<app-json-viewer [item]="item.UDF16" [oldItem]="oldItem"
									[properties]="this.propertiesLabelDataCorrection" [isCompare]="true"
									[isShowDifference]="jsonViewerConfig.isShowDifference"
									[notShowProperties]="jsonViewerConfig.notShowProperties">
									<!-- jsonViewerConfig.isCompare -->
								</app-json-viewer>
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-label>
								<p>{{'Status' | translate}}</p>
								<h2>
									<ion-text [color]="item._Status.Color"><b> {{item._Status.Name}}</b></ion-text>
								</h2>
							</ion-label>
						</ion-item>
					</ion-list>


					<ion-list
						*ngIf="pageConfig.canApprove || pageConfig.canDisApprove|| pageConfig.canDeny ||pageConfig.canForward">
						<ion-list-header>
							<ion-label color="primary">{{'Approve' | translate}}</ion-label>
						</ion-list-header>
						<ion-item>
							<ion-grid fixed>
								<ion-row>
									<ion-col size="12" size-sm="6" size-md="3" *ngIf="pageConfig.canApprove">
										<ion-button color="success" expand="block" (click)="submitApproval('Approved')">
											{{'Approve' | translate}} </ion-button>
									</ion-col>
									<ion-col size="12" size-sm="6" size-md="3" *ngIf="pageConfig.canForward">
										<ion-button color="warning" expand="block" (click)="submitApproval('Forward')">
											{{'Forward' | translate}} </ion-button>
									</ion-col>
									<ion-col size="12" size-sm="6" size-md="3" *ngIf="pageConfig.canDeny">
										<ion-button color="danger" expand="block" (click)="submitApproval('Denied')">
											{{'Deny' | translate}} </ion-button>
									</ion-col>
									<ion-col size="12" size-sm="6" size-md="3" *ngIf="pageConfig.canDisApprove">
										<ion-button color="danger" expand="block" (click)="disapprove()"> {{'Disapprove'
											| translate}} </ion-button>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-item>
					</ion-list>
					<ion-list *ngIf="item?.Type == 'PurchaseOrder' && purchaseOrderFormGroup">
						<ion-grid fixed>
							<form [formGroup]="purchaseOrderFormGroup">
								<ion-row class="hr-group">
									<ion-col size="12" size-sm size-xl="6">
										<app-form-control (change)="savePO()"
											[field]="{id: 'IDStorer', label: 'Goods owner', type: 'ng-select', dataSource: storerList , bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: purchaseOrderFormGroup}">
										</app-form-control>

										<app-form-control (change)="savePO()"
											[field]="{id: 'IDVendor', label: 'Vendor', type: 'ng-select-bp', dataSource: _vendorDataSource , bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: purchaseOrderFormGroup}">
										</app-form-control>

										<app-form-control (change)="savePO()"
											[field]="{branchConfig: {showingType: 'Warehouse', showingMode:'showAll'}, id: 'IDWarehouse', label: 'Warehouse', type: 'ng-select-branch', dataSource: branchList, bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: purchaseOrderFormGroup}">
										</app-form-control>
										<app-form-control
											[field]="{ id: 'PaymentStatus', type: 'ng-select', label: 'Payment status', dataSource: paymentStatusList, bindValue: 'Code', bindLabel: 'Name', form: purchaseOrderFormGroup }"></app-form-control>
									</ion-col>

									<ion-col size="12" size-sm size-xl="6">
										<app-form-control (change)="savePO()"
											[field]="{id: 'Code', label: 'PO code (Vendors)', type: 'text', form: purchaseOrderFormGroup}">
											<small label *ngIf="item.UDF01">{{'Id' | translate}}: {{item.UDF01}}</small>
										</app-form-control>

										<app-form-control [clearable]="true" [virtualScroll]="true"
											[field]="{id:'ExpectedReceiptDate',label:'Expected receipt date', type : 'datetime-local', form : purchaseOrderFormGroup }"
											(change)="savePO();">
										</app-form-control>

										<div class="c-control">
											<label class="c-label" for="TotalAfterTax">{{'Value' | translate}}
												<span
													*ngIf="!purchaseOrderFormGroup.controls.TotalAfterTax.valid && !purchaseOrderFormGroup.controls.TotalAfterTax.pending && (purchaseOrderFormGroup.controls.TotalAfterTax.dirty || submitAttempt)"
													ion-text color="danger">(*)</span>
											</label>
											<span class="c-input disable">
												<b
													*ngIf="purchaseOrderFormGroup.controls.OrderLines?.controls?.length>0">{{calcTotalAfterTaxPO()
													| number: '1.0-0'}}</b>
											</span>
										</div>
									</ion-col>
								</ion-row>
							</form>
						</ion-grid>
						<div class="row-full shadow">
							<ion-toolbar color="primary">
								<ion-segment scrollable="true">
									<ion-segment-button>
										<ion-label>{{'Product list' | translate}}</ion-label>
									</ion-segment-button>
								</ion-segment>
							</ion-toolbar>
								<app-purchase-order-items
								[_item]="itemPurchaseOrder"
								[page]="this"
								[orderLines]="itemPurchaseOrder.OrderLines"
								(renderFormArray)="renderFormArrayPO($event)"
								(onChange)="savePO()"
								(removeItem)="removeItemPO($event)"
								(onShowSaleOrder)="showSaleOrderPickerModalPO()">
								</app-purchase-order-items>
						</div>

						<div *ngIf="!isAutoSave">
							<ion-button *ngIf="item?.Type == 'PurchaseOrder'" (click)="saveChangePurchaseOrder(true);"
								title="{{'Submit order' | translate}}">
								{{'Submit purchase order' || translate}}
							</ion-button>
						</div>
					</ion-list>

					<ion-list *ngIf="item?.Type == 'PurchaseRequest' && purchaseRequestFormGroup">
						<ion-grid fixed>
							<form [formGroup]="purchaseRequestFormGroup">
								<ion-row class="hr-group">
									<ion-col size="12" size-sm size-xl="6">
										<app-form-control
											[field]="{id: 'IDVendor', label: 'Select Vendor', type: 'ng-select-bp', form: purchaseRequestFormGroup,  dataSource: _vendorDataSource,  bindLabel: 'Name',  bindValue: 'Id',clearable:true }"
											(change)="changeVendorPR($event)">
										</app-form-control>
										<app-form-control
											[field]="{id :'ContentType', label:'Content type' , type:'ng-select',dataSource:contentTypeList, bindLabel:'Name',bindValue:'Code' ,form:purchaseRequestFormGroup}"
											(change)="changeContentTypePR($event)">
										</app-form-control>
										<app-form-control
											[field]="{id :'Remark', label:'Remark' , type:'textarea',form:purchaseRequestFormGroup}"
											(change)="saveChangePurchaseRequest()">
										</app-form-control>
									</ion-col>
									<ion-col size="12" size-sm size-xl="6">
										<app-form-control [clearable]="true" [virtualScroll]="true"
											[field]="{id:'RequiredDate',label:'Required date', type : 'datetime-local', form : purchaseRequestFormGroup }"
											(change)="changeRequiredDatePR();">
										</app-form-control>

										<app-form-control [clearable]="true" [virtualScroll]="true"
											[field]="{id:'IDRequester', label:'Requester', type : 'ng-select-staff', form : purchaseRequestFormGroup,  dataSource: _staffDataSource,  bindLabel: 'FullName',  bindValue: 'Id' }"
											(change)="changeRequiredDatePR()"></app-form-control>

										<div class="c-control">
											<label class="c-label" for="TotalAfterTax">{{'Value' | translate}}
												<span
													*ngIf="!purchaseRequestFormGroup.controls.TotalAfterTax.valid && !purchaseRequestFormGroup.controls.TotalAfterTax.pending && (purchaseRequestFormGroup.controls.TotalAfterTax.dirty || submitAttempt)"
													ion-text color="danger">(*)</span>
											</label>
											<span class="c-input disable">
												<b
													*ngIf="purchaseRequestFormGroup.controls.OrderLines?.controls?.length>0">{{calcTotalAfterTaxPR()
													| number: '1.0-0'}}</b>
											</span>
										</div>
									</ion-col>
								</ion-row>
							</form>
						</ion-grid>
						<div class="row-full shadow">
							<ion-toolbar color="primary">
								<ion-segment scrollable="true">
									<ion-segment-button>
										<ion-label>{{'Product list' | translate}}</ion-label>
									</ion-segment-button>
								</ion-segment>
							</ion-toolbar>
							<app-purchase-items 
								[page]="this"
								[contentType]="_currentContentTypePR"	
								[IDVendor]="purchaseRequestFormGroup.get('IDVendor').value"
								[status]="purchaseRequestFormGroup.get('Status').value"

								[orderLines]="itemPurchaseRequest.OrderLines" 
								(renderFormArray)="renderFormArrayPR($event)"
								(removeItem)="removeItemPR($event)">
								(onChange)="savePR()"
							</app-purchase-items>
						</div>

						<div *ngIf="!isAutoSave">
							<ion-button *ngIf="item?.Type == 'PurchaseRequest'"
								(click)="saveChangePurchaseRequest(true);" title="{{'Submit request' | translate}}">
								{{'Submit purchase request' || translate}}
							</ion-button>
						</div>
					</ion-list>

					<ion-list *ngIf="item.Type=='PurchaseQuotation' && itemPurchaseQuotation?.QuotationLines">
						<ion-grid fixed>
							<form [formGroup]="purchaseQuotationFormGroup">
								<ion-row class="hr-group">
									<ion-col size="12" size-sm size-xl="6">
										<app-form-control
											[field]="{id: 'IDBusinessPartner', label: 'Vendor', type: 'ng-select-bp', form: purchaseQuotationFormGroup, dataSource: _vendorDataSource, bindLabel: 'Name', bindValue: 'Id', clearable:true }"
											(change)="changeVendorPQ($event)"></app-form-control>
										<app-form-control
											[field]="{id :'ContentType', label:'Content type' , type:'ng-select', dataSource:contentTypeList, bindLabel:'Name', bindValue:'Code' , form:purchaseQuotationFormGroup}"
											(change)="changeContentTypePQ($event)"></app-form-control>
										<app-form-control
											[field]="{id :'Remark', label:'Remark' , type:'textarea', form:purchaseQuotationFormGroup}"
											(change)="savePQ()"></app-form-control>
									</ion-col>
									<ion-col size="12" size-sm size-xl="6">
										<app-form-control [clearable]="true" [virtualScroll]="true"
											[field]="{id:'RequiredDate',label:'Required date', type : 'datetime-local', form : purchaseQuotationFormGroup }"
											(change)="changeRequiredDatePQ()"></app-form-control>
										<app-form-control [clearable]="true" [virtualScroll]="true"
											[field]="{id:'ValidUntilDate',label:'Valid until date', type : 'datetime-local', form : purchaseQuotationFormGroup }"
											(change)="changeRequiredDatePQ()"></app-form-control>
										<div class="c-control">
											<label class="c-label">{{'Total' | translate}}</label>
											<span class="c-input disable">
												<b>{{calcTotalAfterTaxPQ() | number:'1.0-0'}}</b>
											</span>
										</div>
									</ion-col>
								</ion-row>
							</form>
						</ion-grid>
						<div class="row-full shadow">
							<ion-toolbar color="primary">
								<ion-segment scrollable="true">
									<ion-segment-button>
										<ion-label>{{'Product list' | translate}}</ion-label>
									</ion-segment-button>
								</ion-segment>
							</ion-toolbar>

							<app-purchase-quotation-items 
								[page]="this" 
								[IDPurchaseQuotation]="item.UDF01"
								[contentType]="purchaseQuotationFormGroup.get('ContentType')?.value"
								[IDVendor]="purchaseQuotationFormGroup.get('IDBusinessPartner')?.value"
								[statusLineList]="statusLineListPQ" 
								[orderLines]="itemPurchaseQuotation.QuotationLines"
								[vendorView]="quotationVendorView" 
								[isShowtoggleAllQuantity]="quotationShowToggleAllQty"
								[vendorDataSource]="_vendorDataSource"
								[requiredDate]="purchaseQuotationFormGroup.get('RequiredDate')?.value"
								[sourceType]="purchaseQuotationFormGroup.get('SourceType')?.value"
								(renderFormArray)="renderFormArrayPQ($event)" 
								(onChange)="savePQ()"
								(onRefresh)="refresh()" 
								(removeItem)="removeItemPQ($event)"
								(addAllProductsFromVendor)="addAllProductFromVendorPQ($event)">
							</app-purchase-quotation-items>
						</div>
					</ion-list>

					<ion-list *ngIf="item?.Id">
						<ion-list-header>
							<ion-label color="primary">{{'Discussion' | translate}}</ion-label>
						</ion-list-header>
						<ion-item lines="none">
							<ion-avatar slot="start">
								<ion-img #img [src]="env.user.Avatar || 'assets/avartar-empty.jpg'"
									(ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
							</ion-avatar>
							<ion-label>
								<h2>{{env.user.FullName}}</h2>
							</ion-label>
						</ion-item>

						<form [formGroup]="commentForm">
							<ion-item lines="none">
								<div class="c-control">
									<ion-button (click)="addComment()" fill="clear" class="send">
										<ion-icon slot="icon-only" name="paper-plane"></ion-icon>
									</ion-button>
									<textarea (keydown.enter)="addComment()"
										placeholder="{{'Write your discussion' | translate}}" rows="1"
										class="c-input remark" id="Remark" formControlName="Remark"
										type="textarea"></textarea>
								</div>
							</ion-item>

							<ion-item lines="none" *ngFor="let i of commentList" class="log">
								<ion-avatar slot="start">
									<ion-img #img [src]="imgPath + i._Staff.Code + '.jpg'"
										(ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
								</ion-avatar>
								<ion-label>
									<h3>{{i._Staff.FullName}}</h3>
									<p><i>{{i.Date}}</i></p>
									<h4 class="remark">{{i.Remark}}</h4>
								</ion-label>
							</ion-item>
						</form>
					</ion-list>
				</ion-col>

				<ion-col size="12" size-xl="3">
					<div class="row-full shadow full-screen">
						<ion-list-header>
							<ion-label color="primary">{{'Requester' | translate}}</ion-label>
						</ion-list-header>
						<ion-list>
							<ion-item>
								<ion-avatar slot="start">
									<ion-img #img [src]="imgPath + item._Staff.Code + '.jpg'"
										(ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
								</ion-avatar>
								<ion-label>
									<h2>{{item._Staff.FullName}}</h2>
								</ion-label>
							</ion-item>
						</ion-list>

						<ion-list-header>
							<ion-label color="primary">{{'Approver' | translate}}</ion-label>
						</ion-list-header>
						<ion-list>
							<ion-item *ngFor="let i of item._Approvers">
								<ion-avatar slot="start">
									<ion-img #img [src]="imgPath + i.Code + '.jpg'"
										(ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
								</ion-avatar>
								<ion-label>
									<h2>{{i.FullName}}</h2>
									<h3>
										<ion-text [color]="i._Status?.Color || 'danger'">{{i._Status?.Name||'Chưa
											duyệt'}}</ion-text>
									</h3>
								</ion-label>
								<ion-icon *ngIf="i._Status" slot="end" [color]="i._Status.Color"
									[name]="i.Status == 'Denied'? 'ban-outline':'checkmark-circle-outline'"></ion-icon>
							</ion-item>
						</ion-list>
						<ion-list-header *ngIf="item._Followers?.length>0">
							<ion-label color="primary">{{'Followers' | translate}}</ion-label>
						</ion-list-header>
						<ion-list>
							<ion-item *ngFor="let i of item._Followers">
								<ion-avatar slot="start">
									<ion-img #img [src]="imgPath + i.Code + '.jpg'"
										(ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
								</ion-avatar>
								<ion-label>
									<h2>{{i.FullName}}</h2>
								</ion-label>
							</ion-item>
						</ion-list>

						<ion-list *ngIf="item._Logs.length">
							<ion-list-header>
								<ion-label color="primary">{{'Main activities' | translate}}</ion-label>
							</ion-list-header>
							<ion-item *ngFor="let i of item._Logs" class="log main-active-item" lines="none">
								<ion-label slot="start" class="time">
									<p>{{i.Date}}</p>
									<h2>{{i.Time}}</h2>
								</ion-label>
								<ion-icon class="icon" slot="start" [color]="i._Status?.Color"
									[name]="i.Status == 'Denied'? 'ban-outline':'checkmark-circle-outline'"></ion-icon>
								<!-- <ion-avatar slot="start">
                                    <ion-img #img [src]="imgPath + i.Code + '.jpg'" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
                                </ion-avatar> -->
								<ion-label style="margin-left: 8px">
									<h2>{{i.FullName}}</h2>
									<h3>
										<ion-text [color]="i._Status?.Color || 'danger'">{{i._Status?.Name||'Chưa
											duyệt'}}</ion-text>
									</h3>
									<p class="remark" *ngIf="i.Remark">{{i.Remark}}</p>
								</ion-label>
							</ion-item>
						</ion-list>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>