.full-screen{
    min-height: calc(100vh - 97px);
    height: 100%;
}

.remark{
    white-space: pre-line !important;
}

.log{
    align-items: stretch;
    
    .time{
        max-width: 100px;
        border-right: solid 1px var(--border-color);
    }
    .icon{
        margin-left: -34px;
        background: var(--feature-background-top)
    }
}

.send{
    position: absolute;
    bottom: 8px;
    right: 8px;
}